/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin-top: 45vh;
}
